#header{
    background: #f2f2f2;
    height: 32px;
    color: #a7a7a7;
    font-weight: 100;
    font-size: 12px;
}
#login-contain{
    line-height: 32px;
    /*display: inline;*/
    float: left;
}
#login-contain a{
    padding-left: 20px;
    color: #a7a7a7;
}
#login-contain a:hover{
    color:red;
}


#header-menu{
    float: right;
    line-height: 32px;
}
#header-menu .menu{
    float: left;
    padding: 0 14px;
    position: relative;
}
#header-menu .menu a{
    color:#a7a7a7;
}
#header-menu .iconfont{
    color: #fff;
    font-size: 14px;
}
#header-menu .menu-hd::after{
    content: '';
    border: 3px solid transparent;
    border-top-color: #bbb;
    position: absolute;
    right: 4px;
    top:16px;
    transform-origin: 3px 1.5px;
}
#header-menu .menu-hd:hover{
    background: #ffffff;

}
#header-menu .menu-hd:hover .sub-menu{
    display: block;
}
#header-menu .menu-hd:hover>a{
    color: red;
    text-decoration: underline;
}
#header-menu .menu-nav:hover a{
    color:yellow;
}

#header-menu .menu-nav:hover a span{
    color:#fff;
}
#header-menu .menu-nav a:hover span{
    color:yellow;
}
#header-menu .menu-nav:hover .iconfont{
    color:yellow;
}
#header-menu .menu-hd:hover::after{
    transition: transform .2s linear;
    transform: rotate(180deg);
}
#header-menu .sub-menu{
    border: 1px solid white;
    border-top: 0;
    position: absolute;
    top:32px;
    left:0;
    width: 100px;
    display: none;
    background: white;
}
#header-menu .sub-menu li{
    padding: 0 14px;
}
#header-menu .sub-menu a{
    color:#999;
}
#header-menu .sub-menu a:hover{
    color:#f00;
    text-decoration: underline;
}
#search{
    height: 130px;
}
#search img{
    width: 240px;
    float: left;
}
#search-contain{
    float: left;
    margin-top: 40px;
    margin-left: 90px
}
#search-contain .search-input{
    border: 3px solid #ff2736;
    height: 36px;
}
#search-contain .search-input input{
    width: 400px;
    height:36px;
    outline: none;
    border:0;
    float:left;
}
#search-contain .search-input input::placeholder{
    color: #ccc;
    font-size: 15px;
}
#search-contain .search-list li{
    float: left;
    font-size: 13px;
    list-style: none;
    border-right: 1px solid #cccccc;
    padding: 0 12px;
    margin-top:5px;
    width: 42px;
}
#search-contain .search-list li.red a{
    color:red;
}
#search-contain .search-list li.last{
    border-right:0;
}
#search-contain .search-list li.first{
    padding-left: 0;
}
#search-contain .search-input button{
    width: 132px;
    height: 36px;
    font-size: 18px;
    border: 0;
    background: #ff2736;
    color: #fff;
    float: left;
    outline: none;
}
#main-menu{
    margin-left: 250px;
    height: 34px;
}
#main-menu img{
    width: 100px;
    margin-top: 3px;
    margin-right: 20px;
    float: left;
}
#main-menu ul{
    float: left;

}
#main-menu li{
    float: left;
    padding: 6px 8px;
    font-size: 16px;
    font-weight: 500;
}
#banner{
    position: relative;
    border-top:2px solid red;
}
#banner .banner-img li a{
    display: block;
    width: 1230px;
    margin: 0 auto;
}
#banner li a img{
    width: 100%;
}
#banner .nav{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 200px;
    top: -36px;
    left: 40px;
}
#banner .nav >li{
    font-size: 16px;
    color: white;
    height: 31.2px;
}
#banner .nav >li> a{
    font-size: 14px;
    color: white;
    width: 200px;
}
#banner .nav li.product{
    font-weight: 600;
    height: 36px;
    background: #FF0036;
}
#banner .nav li:not(.product):hover{
    background: white;
}
#banner .nav li i{
    margin: 0 10px;
}

#banner .nav li.pink:hover,#banner .nav li.pink:hover >a{
    color: #ffc0fc;
}
#banner .nav li.blue:hover,#banner .nav li.blue:hover >a{
    color: #5c3cff;
}
#banner .nav li.yellow:hover,#banner .nav li.yellow:hover >a{
    color:#fccc00
}
#banner .pink:hover .banner-menu,#banner .blue:hover .banner-menu,#banner .yellow:hover .banner-menu{
    display: block;
}
#banner .banner-menu{
    position: absolute;
    top:36px;
    left: 200px;
    background: #cccccc;
    width: 852px;
    height: 500px;
    display: none;
}
#banner .banner-menu .banner-left{
    width: 625px;
    height: 500px;
    float: left;
    background: white;
}
#banner .banner-menu .banner-left li{
    float: left;
    color: black;
}
#banner .banner-menu .banner-menu-head{
    float: left;
   margin:  0 20px;
    font-weight: 600;
}
#banner .banner-menu-list{
    width: 493px;
    float: left;
    line-height: 20px;
    margin: 5px 0;
    padding-bottom: 5px;
    border-bottom: 1px dashed #ccc;
}
#banner .banner-menu-list li{
    float: left;
    margin-left: 10px;
}
#banner .banner-menu .banner-right{
    float: left;
    width: 210px;
    height: 500px;
    background: white;
    margin: 2px 2px;
}
#banner .banner-right li img{
    width: 105px;
    float: left;
}
#brand {
   background:  #f5f5f5;
    overflow: hidden;
    padding: 24px ;
}
#brand .brand-type{
    height: 316px;
    float: left;
}
#brand a img{
    width: 100%;
}
#brand .brand1{
    width: 234px;
}
#brand .brand2{
    width: 485px;
    margin-left: 10px;
}
#brand .title{
    height: 55px;
    background: white;
    font-size: 18px;
    padding: 0 10px;
    line-height: 55px;
    font-weight: 600;
}
#brand .title a{
    background: url('../image/more.png') no-repeat;
    background-position: right center;
    background-size: 20px 20px;
    width: 56px;
    height: 54px;
    float: right;
}
#list-pic{
    background: #f5f5f5;
    padding: 10px;
    overflow: hidden;
}
#list-pic .pic{
    width: 122px;
    height: 108px;
    background: white;
    float: left;
    margin: 1px 1px 0 0;
    position: relative;
}
#list-pic .pic img{
    width: 82%;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
}
#list-pic .pic:hover a{
    display: block;
}
#list-pic .pic a{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index:1;
    display: none;
}
#list-pic .pic a div{
    margin: 0 auto;
    text-align: center;
    color: white;
    margin-top: 40px;
}
#list-pic .pic a div span{
    background: #fc0a3d;
    border-radius: 10px;
    padding: 2px 3px;
}
#last{
    background: #f5f5f5;
    padding: 10px 0;
    height: 500px;
}
#last .head img{
    width: 241px;
    height: 25px;
    float: left;
}
#last .head li{
    float: right;
    margin: 5px 10px;
    font-size: 14px;
    font-weight: 600;

}
#last .head div{
    width: 800px;
    height: 30px;
    float: right;

}
#last .head li a:hover{
    text-decoration-line: underline;
}
#last .last-left{
    float: left;
    width: 235px;
    height: 618px;
    margin: 5px;
}
#last .last-left a{

    position: relative;
}
#last .last-left img{
    width: 235px;
    height: 618px;
    float: left;
}
#last .last-left .one{
    width: 70px;
    height: 64px;
    background: rgba(0,0,0,.9);
    position: absolute;
    top:430px;
    float: left;
    text-align: center;
}
#last .last-left .one span{
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
    font-size: 18px;
    width: 36px;
    color: white;
    font-weight: 500;
    margin-top: 6px;
}
#last .last-left .two{
    width: 128px;
    height: 64px;
    background: rgba(93,94,98,.9);
    position: absolute;
    top:430px;
    left:-171px;
    float: left;
    color: white;
    line-height: 24px;
}
#last .last-left .two span{
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
    font-size: 18px;
    color: white;
    margin-left: 8px;
}
#last .last-left .two .ai{
    margin-top: 6px;
}
#last .last-right .block{
    float: left;
    width: 484px;
    height: 316px;
    background: #f5f5f5;
}
#last .block .first{
    float: left;
    background: white;
    width: 484px;
    height: 316px;
    margin-left: 13px;
    background: #f5f5f5;
}
#last .block .first div{
    width: 462px;
    height: 225px;
    background: white;
}
#last .block .first img{
     width: 200px;
     height: 200px;
     float: left;
 }