.am-navbar-light{
    background-color: #00bfae;
    color:#fff;
}
.am-navbar-left, .am-navbar-right{
    flex: none;
}
.am-search{
    width:100%;
    background-color:transparent;
}
.am-search-cancel{
    color:#fff;
}
.am-grid .am-flexbox .am-flexbox-item .am-grid-item-content .am-grid-item-inner-content .am-grid-text{
    font-size:16px;
}
.am-grid.am-grid-square .am-grid-item .am-grid-item-inner-content .am-grid-icon{
    width: 40%!important;
    margin-top: 0px;
}
/*flex*/
.am-flexbox.am-flexbox-align-center{
   background: white;
    text-align: center;
}
.am-flexbox-item img{
    width: 80%;
}
.active-title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
}
.active-title-green{
    color:rgb(68, 145, 48);
}
.active-title-red{
    color: red;
}
.active-title-pink{
    color: deeppink;
}
.active-img{
    width:1.5rem;
    height: 1.5rem;
}