<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="div1">
        <input type="text" v-model="val">
        <input type="password">
        <input type="hidden">
        <input type="radio" v-model="sex" value="n">女
        <input type="radio" v-model="sex" value="m">男
        <input type="checkbox" v-model="sport" value="a">a
        <input type="checkbox" v-model="sport" value="b">b
        <input type="checkbox" v-model="sport" value="c">c
    </div>
    <script src="vue.js"></script>
    <script>
        var vm=new Vue({
            el:'#div1',
            data:{
                val:'sss',
                sex:'',
                sport:[]
            }
        })
    </script>
</body>
</html>